body {
  box-sizing: border-box;
}

.neonText{
  text-shadow:
    0 0 5px #0995f3,
    0 0 10px #099df3,
    0 0 15px #015599,
    0 0 20px #03347e,
    0 0 25px #02384e,
    0 0 30px #001727
    ;
}

.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
