.swiper {
    width: 200px;
    height: 200px;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* margin-left: -150px; */
    /* margin-top: -50px; */
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  