---
import Form from "@/components/Form.astro";
import Clock from "@/components/Clock.astro";
---

<html>
  <head>
    <title>Absensi</title>
  </head>
  <body class="bg-primary-950">
    <div class="px-3">
      <Clock />
      <Form />
    </div>
  </body>
</html>
