---
import { Image } from "astro:assets";

import Form from "@/components/Form.astro";
import Clock from "@/components/Clock.astro";
---

<html>
  <head>
    <title>Form Absensi</title>
  </head>
  <body class="bg-primary-900">
    <Clock />
    <Form />
  </body>
</html>
