---
import Form from "@/components/Form.astro";
import Clock from "@/components/Clock.astro";
---

<html>
  <head>
    <meta http-equiv="refresh" content="30">
    <title>Absensi</title>
  </head>
  <body class="bg-primary-950">
    <Clock />
    <Form />
  </body>
</html>
