---  
const date = new Date();  
const timeFormatter = new Intl.DateTimeFormat("id-ID", {  
  hour: "2-digit",  
  minute: "2-digit",  
  second: "2-digit",  
  hour12: false // Mengatur ke format 24 jam  
});  
const dateFormatter = new Intl.DateTimeFormat("id-ID", {  
  day: "numeric",  
  month: "long",  
  year: "numeric"  
});  
const formattedTime = timeFormatter.format(date).replace(/\./g, ':'); // Mengganti "." dengan ":"  
const formattedDate = dateFormatter.format(date);  
---  
<div class="items-center justify-center flex-auto flex flex-col">  
    <span id="clock-time" class="pt-4 text-5xl text-lime-200"  
      >{formattedTime}</span  
    >  
    <span id="clock-date" class="py-1 text-3xl text-lime-200"  
      >{formattedDate}</span  
    >  
</div>  

<script is:inline>  
  setInterval(() => {  
    const current = new Date();  
    const timeFormatter = new Intl.DateTimeFormat("id-ID", {  
      hour: "2-digit",  
      minute: "2-digit",  
      second: "2-digit",  
      hour12: false // Mengatur ke format 24 jam  
    });  
    const dateFormatter = new Intl.DateTimeFormat("id-ID", {  
      day: "numeric",  
      month: "long",  
      year: "numeric"  
    });  
  
    document.getElementById("clock-time").innerHTML = timeFormatter.format(current).replace(/\./g, ':'); // Mengganti "." dengan ":"  
    document.getElementById("clock-date").innerHTML = dateFormatter.format(current);  
  }, 1000);  
</script>