---
import Attendence from "@/components/Attendence.jsx";
---
<div class="overflow-x-clip">
    <section class="">
      <div
        class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12"
      >
        <div class="max-w-2xl mx-auto">

        </div>
      </div>
    </section>
  <Attendence client:load />
</div>
